<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imagine.mohamedtaha.store">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_daily_movements"
            android:theme="@style/NoActionBar" />
        <activity android:name=".dialog.DialogAddCategory" />
        <activity android:name=".dialog.DialogAddStore" />
        <activity
            android:name=".ui.activity.ReportStokeFragment"
            android:label="@string/title_report_first_balance"
            android:parentActivityName=".ui.activity.ReportesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ReportesActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ActivityForIncludeFragments"
            android:label="@string/title_all_fragments"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <provider
            android:name=".data.TaskContentProvider"
            android:authorities="com.imagine.mohamedtaha.store"
            android:exported="false" />
        <provider
            android:name=".data.StoreContentProvider"
            android:authorities="com.imagine.mohamedtaha.store"
            android:exported="false" />

        <activity
            android:name=".ui.activity.EditCategory"
            android:parentActivityName=".ui.activity.ActivityForIncludeFragments">

            <!-- PArent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityForIncludeFragments" />
        </activity>
        <activity android:name=".ui.activity.EditStore" />
        <activity
            android:name=".ui.activity.StockingWarehouse"
            android:label="@string/add_stocking_warehouse"
            android:parentActivityName=".ui.activity.ActivityForIncludeFragments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity android:name=".ui.activity.EditStokeWarehouse" />
        <activity
            android:name=".ui.activity.TableDaliyMovmentes"
            android:label="@string/title_report_daily_movements" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReportesActivity"
            android:label="@string/reportes"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ReportDailyMovements"
            android:label="@string/title_report_daily_movements"
            android:parentActivityName=".ui.activity.ReportesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ReportesActivity" />
        </activity>
        <activity android:name=".ui.activity.ActivityShowReportes" />
        <activity android:name=".ui.activity.ReportStoreActivity" />
        <activity android:name=".ui.activity.ReportPremissionActivity" />
        <activity android:name=".ui.activity.ReportCategoryActivity" />
        <activity
            android:name=".ui.activity.ReportCategory"
            android:label="@string/title_report_category"
            android:parentActivityName=".ui.activity.ReportesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ReportesActivity" />
        </activity>
        <activity android:name=".ReportStores"
            android:label="@string/title_report_store"
            android:parentActivityName=".ui.activity.ReportesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ReportesActivity" /></activity>
    </application>

</manifest>